@import '../global';
.search{
    &__form{
        width: 524px;
        background-color: $color-white;
        position: relative;
        padding: 10px 0;
        border-radius:4px;
        svg{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
            fill:$color-gray;
            transition: 0.3s;
            &:hover{
                fill:$color-darkGray;
                transform: rotate(-180deg);
                top: 25%;
            }
        }
    }
    &__btn{
        border: none;
        cursor: pointer;
    }
    &__input{
        padding: 0 44px 0 0;
        margin-left: 45px;
        border: none;
        outline: none;
        @include font(14px);
        color: $color-gray;
        width: 100%;

    }
}