@import '../../index.scss';
.manage{
    margin-top: 80px;
    padding:24px;
    position: relative;
    &__row{
        justify-content: space-between;
    }
    &__btn{
        @include font(14px, 500);
        color:$color-black;
        padding:10px 16px;
        box-shadow:0 1px 3px 0 rgba(63, 63, 68, 0.5);
        border:none;
        outline:none;
        background-color:$color-white;
        margin-right:8px;
        img{
            margin-right:8px;
        }
    }
    &__input{
        width:620px;
        min-height:36px;
        border:none;
        outline:none;
        padding:10px 15px;
        &::placeholder{
            @include font(14px);
            color:$color-gray;
        }
    }
    &__search-btn{
        border: none;
        outline: none;
        background-color: $color-white;
        height: 36px;
        padding: 8px 15px;
    }
    &__btn-add{
        border-radius: 4px;
        background-color: $color-blue;
        padding: 10px;
        border: none;
        outline: none;
        box-shadow:0 1px 3px 0 rgba(63, 63, 68, 0.5);
        color: $color-white;
        @include font(14px, 500);
        @include flex-center();
        svg{
            margin-right: 10px;
        }
    }
    .users{
        width: 100%;
        margin-top: 30px;
        background-color: $color-white;
        border-radius: 4px;
        border-spacing: 0;
		box-shadow: 0px 1px 0px rgba(20, 20, 44, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
        &__row{
            display: flex;
            position: relative;
            justify-content: space-between;
          
        }
        &__headers{
            @include font(14px);
            letter-spacing: -0.05px;
            text-align: left;
            &:last-child{
                text-align: right;
            }
        }
        &__name{
            @include font(14px);
            letter-spacing: -0.05px;
            position: relative;
            margin-left: 40px;
        }
        &__avatar{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
        }
    }
    .modal{
        display: flex;
        flex-wrap: nowrap;
        width: 60%;
        position: fixed;
        top:15%;
        left: 70%;
        transform: translateX(-70%);
        z-index: 2;
        box-shadow: 0px 1px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
        background-color: $color-white;
        // overflow: hidden;
        &__wrapper{
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 5;
        }
        
        &__background{
        background-image: url(../../assets/image/png/background.png);
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color:$color-blue, $alpha: .4);
            z-index: 2;
        }}
        &__logo{
            width: 150px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
        }
        &__left{
        padding: 25px 25px 25px;
        }
        &__right{
            overflow: hidden;
        }
        &__title{
            @include font(24px, 500);
            color: $color-black;
            margin:24px 0 5px
        }
        &__subtitle{
            @include font(14px);
            color: $color-gray; 
            margin-bottom: 40px      
        }
    }
    .form{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        background-color: $color-white;
      
      
        &__input{
            min-height: 35px;
            width:100%;
            border-radius: 4px;
            outline: none;
            border: 1px solid $color-gray;
            padding: 5px 15px;
            @include font(16px);
            color: $color-gray;
            &:focus{
                border: 2px solid $color-blue !important;
                
            }
            &::placeholder{
                @include font(14px);
                color: $color-gray;
            }


        }
        label{
            position: relative;
            margin-bottom: 30px;
            span{
                opacity: 0;
                @include font(12px);
                position: absolute;
                top:-25%;
                left: 10px;
                background-color: $color-white;
                padding: 2px 4px;
                color: $color-gray;
                white-space: nowrap;
            }
            input:focus + span{
                   opacity: 1;
            }
        }
        &__btn{
            padding: 10px 10px;
            @include font (16px, 500);
            color: $color-white;
            background-color: $color-blue;
            outline: none;
            border: none;
            border-radius: 4px;
        }
        &__close-btn{
            @include font (16px, 500);
            position: absolute;
            top: 5%;
            right: 8%;
            background-color:transparent;
            border: none;
            outline: none;
            color:$color-blue;
            cursor: pointer;

        }
        .checkbox-row{
            align-items: center;
            margin-bottom: 30px;
            input{
                margin-right: 10px;
            }
            span{
                @include font (14px, 400);

            }
        }

    }
}
