.column{
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        @include font(16px, 500);
        color: $color-black;
    }
    &__subtitle{
        @include font(12px, 400);
        color: $color-gray;
        margin-left: 15px;

    }
}