@mixin font($size:16px, $weight:400, $height:1, $style:normal){
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
	font-style: $style;
}
@mixin flex-center($justify:center, $align:center){
	display: flex;
	justify-content:$justify;
	align-items:$align;
}