$color-gray: #9ea0a5;
$color-lightGray:#E4E7EB;
$color-darkGray: #66788a;
$color-white:#FFFFFF;
$color-lightBlue: #F6F9FD;
$color-btn: #1665d8;
$color-blue:#3F51B5;
$color-black:#3A3B3F;
$color-green:#47B881;
$color-red: #EC4C47;
$color-yellow:#F7D154;


