@import '../../index.scss';
@import './latestProduct/style.scss';
.dashboard{
    border-radius: 4px;
    margin-top: 64px;
    &__item{
        background-color: $color-white;
        border-radius: 4px;
    
    }
    &__column{
        padding: 15px;
    } 
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}
.top-card{
    &__column{
        width: 25%;
        &:nth-child(2){
            .top-card__icon{
                background-color: $color-green;
            }
        }
        &:nth-child(3){
            .top-card__icon{
                background-color: $color-blue;
            }
            .top-card__progressbar{
                background-color: $color-lightGray;
                height: 4px;
                width: 100%;
                border-radius: 3px;
                position: relative;
                display: block;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: $color-blue;
                    width: 75%;
                    height: 100%;
                    border-radius: 3px;
                }
            }
        }
        &:nth-child(4){
            .top-card__item{
                background-color: $color-blue;
            }
            .top-card__suptitle, .top-card__title, .top-card__month, .top-card__percent{
                color: $color-white;
            }
            .top-card__icon{
                background-color: $color-blue;
            }
            .top-card__percent {
                color: $color-white;
                &::before {
                    border-top: 6px solid $color-white;
                }
            }
        }
    }
    &__margin{
        padding: 15px;

    }
    &__item{
        background-color: $color-white;
        padding: 20px 24px 30px 24px;
        min-height: 100%;
        border-radius: 4px;
        box-shadow: 0 0 1px 0 rgba($color: #000000, $alpha: 1.0);
    }
   &__row{
        margin: -15px;
        flex-wrap: wrap;
    }
    &__flex{
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        @include flex-center();
        width: 63px;
        height: 63px;
        border-radius: 50%;
        background-color: $color-red;
    }
    &__suptitle{
        @include font(12px, 700);
        letter-spacing: 0.996px;
        text-transform: uppercase;
        color: $color-gray;
    }
    &__title{
        @include font(24px, 500);
        letter-spacing: -0.6px;
        text-transform: uppercase;
        margin-top: 8px;
        margin-bottom: 42px;
    }
    &__percent{
        @include font(12px, 500);
        margin:0 8px 0 15px;
        position: relative;
        &::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -10px;
			width: 0;
			height: 0;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
		}
		&--up {
			color: $color-green;
			&::before {
				border-top: 6px solid $color-green;
				transform: translateY(-50%) rotate(180deg);
			}
		}
		&--down {
			color: $color-red;
			&::before {
				border-top: 6px solid $color-red;
				transform: translateY(-50%);
			}
		}
    }
    &__month{
        @include font(12px);
        letter-spacing: -0.0428571px;
        color: $color-gray;
    }
   
}
.chart{
    min-height: 300px;
    max-height: 400px;
    padding: 20px;
}
.circle{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
    &__header{
        border-bottom:1px solid $color-lightGray; 
        margin: 0 -15px 20px;
        padding: 10px 15px 15px;
    }
    &__middle{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }    
    &__chart{
        width: 163px;
        padding: 0;
        height: 60%;
        margin-bottom: 25px;
        margin: auto;
    
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 24px;}
    &__title{
        @include font(12px);
        color: $color-gray;
        margin: 10px 0;
    }
    &__percent{
        @include font(29px,500);
        margin-bottom: 61px;
    }
    &__hr{
        margin: 0 -21px;
        color: $color-lightGray;
    }
    &__footer{
        border-top:1px solid $color-lightGray; 
        margin: 0 -15px;
        padding: 10px 15px 15px;
    }
    &__link{
        @include font(14px,500);
        color: $color-blue;
    }
    
    &__filter{
        position: relative;
        cursor: pointer;
        margin-right: 15px;
        &::before {
            content: "";
            position: absolute;
            top: 60%;
            right: -15px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }
        &--up {
			&::before {
				border-top: 5px solid $color-gray;
				transform: translateY(-60%) rotate(180deg);
			}
		}
		&--down {
			&::before {
				border-top: 5px solid $color-gray;
				transform: translateY(-60%) rotate(-90deg);
			}
        }
        span{
            @include font(14px, 500);
            color: $color-black;
        }
        ul{
            position: absolute;
            bottom: 25px;
            left: 0;
            z-index: 1;
            @include flex-center();
            flex-direction: column;
            background-color: $color-white;
            box-shadow:0 0 5px 0 rgba($color: #000000, $alpha: .5);
            border-radius: 4px;
            padding: 5px 10px;
          
        }
       
		
        li{
            margin-top: 8px;
        }
    }
    &__row{
        padding: 10px 0 0 0;
        align-items: center;
    }
}
.column{
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        @include font(16px, 500);
        color: $color-black;
    }
    &__subtitle{
        @include font(12px, 400);
        color: $color-gray;
        margin-left: 15px;

    }
}

@media screen and(max-width:1600px){
    .top-card {
        &__row{
            .top-card__column{
                width:50%;
            }
        }
    }
    .dashboard{
        .col-9 .dashboard__column{
            width: 100%;
        }
        .col-3 .dashboard__column{
            width: 33.3%;
        }
        

    }
}