@import '../../index.scss';
@import './latestProduct/style.scss';
@import './latestOrders/style.scss';
@import './cards/style.scss';
@import './verticalChart/style.scss';
@import './pieChart/style.scss';
@import './listPopUp/style.scss';

.dashboard{
    border-radius: 4px;
    margin-top: 64px;
    &__item{
        background-color: $color-white;
        border-radius: 4px;
        max-height:545px;
        min-height: 545px;
    
    }
    &__column{
        padding: 15px;
    } 
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}





@media screen and(max-width:1600px){
    .top-card {
        &__row{
            .top-card__column{
                width:50%;
            }
        }
    }
    .dashboard{
        .col-9 .dashboard__column{
            width: 100%;
        }
        .col-3 .dashboard__column{
            width: 50%;
        }
        

    }
}