@import '../../index.scss';
.profile{
    margin-top: 60px;
    &__item{
        margin:0 15px;
        border-radius: 4px;
        background-color: $color-white;
        box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.5);
        &:first-child{
            max-height: 250px;
        }
    }
    &__margin{
        margin: 0 -10px;
    }
    &__header{
        margin-bottom: 24px;
    }
    ul{
        display: flex;
    }
    li{
        margin: 0 55px 15px 0 ;
        @include font(16px, 500);
        color: $color-black;
        position: relative;
        cursor: pointer;
        &:last-child{
            margin-right: 0;
        }
        &:first-child{
            margin-left: 15px;
        }
        
        &.active{
            &::before{
                content: "";
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%);
                width: 130%;
                height: 2px;
                background-color: $color-blue;
    
            }
        }
      
    }
    hr{
        width: 100%;
        color: rgb(255, 255, 250);
        height: 1px;
        margin: 0 -24px;
    }
    &__basic{
        .form{
            min-height: 454px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__header{
                display: flex;
                align-items: center;
                padding: 24px;
                border-bottom: 1px solid $color-lightGray;
            }
            &__title{
                @include font(14px, 500);
                color: $color-black;
                margin-right: 15px;
            }
            &__description{
                @include font(12px,300);
                color: $color-black;
    
            }
            &__midde{
                padding: 24px;
                width: 80%;
                margin: 0 -12px;
    
            }
            &__item{
                margin: 0 12px;
            }
            &__input{
                min-height: 35px;
                width:100%;
                border-radius: 4px;
                border: 1px solid $color-gray;
                padding: 5px 15px;
                @include font(16px);
                color: $color-gray;
                &:focus{
                    outline-color:$color-blue ;      
                }
                &::placeholder{
                    @include font(14px);
                    color: $color-gray;
                }
            }
            label{
                position: relative;
                margin-bottom: 30px;
                span{
                    opacity: 0;
                    @include font(12px);
                    position: absolute;
                    top:-25%;
                    left: 10px;
                    background-color: $color-white;
                    padding: 2px 4px;
                    color: $color-gray;
                    white-space: nowrap;
                }
                input:focus + span{
                       opacity: 1;
                       padding-top: 0;
    
                }
            }}
    }
}
.users-profile{
    flex-direction: column;
    &__top{
        display: flex;
        justify-content: space-between;
        padding: 24px;
    }
    &__img{
        width: 140px;
        height: 140px;
        object-fit: cover;
        img{
            border-radius: 13px;
        }
    }
    &__name{
        @include font(24px, 500);
        color: $color-black;
        margin-bottom: 10px;
    }
    &__country, &__time{
        @include font(14px);
        color: $color-gray;
    }
    &__bottom{
        border-top: 1px solid $color-lightGray;
        padding: 22px 40px;
        display: flex;
        justify-content: space-between;
    }
    &__settings{
        @include font (12px, 500);
        color: $color-black;
        text-transform: uppercase;
        transition: 0.4s;
        &:hover{
            color: $color-blue;
        }
    }
}