@import "../global";
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  background-color: $color-blue;
  &__row {
    @include flex-center(space-between);
    padding: 14px 24px;
  }
}
.logo {
  &__link {
    @include flex-center();
    span {
      @include font(20px, 500);
      color: $color-white;
      margin-left: 8px;
    }
  }
}
.nav {
  &__list {
    display: flex;
  }
  &__item {
    margin-left: 16px;
    &:first-child {
      margin-left: 0;
    }
  }
}
