@import "../global";
.sidebar {
  position: fixed;
  top: 64px;
  z-index: 1;
  box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05),
              0px 1px 3px rgba(63, 63, 68, 0.15);
  background-color: $color-white;
  padding: 24px 16px;
  min-height: 100vh;
  &__top {
    padding:0 0 24px;
    width: 100%;
    @include flex-center();
    flex-direction: column;
    text-align: center;
  }
  &__avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__user {
    @include font();
    color: $color-black;
    margin: 16px 0 4px;
  }
  &__position {
    @include font(12px);
    color: $color-gray;
  }
  &__middle {
    text-align: left;
  }
  &__nav {
    border-bottom: 1px solid $color-lightGray;
    border-top: 1px solid $color-lightGray;
    padding: 6px 0 27px;
    .menu {
      &__link {
        @include font(14px, 500);
        color: $color-darkGray;
        @include flex-center(flex-start);
        transition: 0.3s;
        padding: 13px 50px 13px 16px;
      }
      &__item {
        border-radius: 4px;
        border-left: 3px solid transparent;
        svg {
          max-width: 20px;
          max-height: 20px;
          fill: $color-darkGray;
          margin-right: 8px;
        }
        &.is-active {
          background-color: $color-lightBlue;
          border-left: 3px solid $color-blue;
          svg {
            fill: $color-blue;
          }
        }
      }
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    a {
      span {
        @include font(15px, 500);
        color: $color-darkGray;
        margin-left: 8px;
      }
    }
  }
  &__support {
    @include font(13px, 500);
    color: $color-gray;
    margin: 24px 0 18px;
  }
}
