@import '../global';
.manage{
    padding:24px;
    background-color:#f2f2f2;
    min-height: 100vh;
    &__row{
        justify-content: space-between;
    }
    &__btn{
        @include font(14px, 500);
        color:$color-black;
        padding:10px 16px;
        box-shadow:0 1px 3px 0 rgba(63, 63, 68, 0.5);
        border:none;
        outline:none;
        background-color:$color-white;
        margin-right:8px;
        img{
            margin-right:8px;
        }
    }
    &__input{
        width:620px;
        min-height:36px;
        border:none;
        outline:none;
        padding:10px 15px;
        &::placeholder{
            @include font(14px);
            color:$color-gray;
        }
    }
    &__search-btn{
        border: none;
        outline: none;
        background-color: $color-white;
        height: 36px;
        padding: 8px 15px;
    }
    &__btn-add{
        border-radius: 4px;
        background-color: $color-blue;
        padding: 10px;
        border: none;
        outline: none;
        box-shadow:0 1px 3px 0 rgba(63, 63, 68, 0.5);
        color: $color-white;
        @include font(14px, 500);
        @include flex-center();
        svg{
            margin-right: 10px;
        }
    }
    .users{
        width: 100%;
        margin-top: 30px;
        background-color: $color-white;
        border-radius: 4px;
        border-spacing: 0;
		box-shadow: 0px 1px 0px rgba(20, 20, 44, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
        &__row{
            display: flex;
            padding: 18px 27px;
            position: relative;
            justify-content: space-between;
            &::after{
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                background-color: rgba(63, 63, 68, 0.15);
                width: 100%;
                height: 2px;
            }
        }
        &__headers{
            @include font(14px);
            letter-spacing: -0.05px;
            text-align: left;
            &:last-child{
                text-align: right;
            }
        }
        &__name{
            @include font(14px);
            letter-spacing: -0.05px;
            position: relative;
            margin-left: 40px;
        }
        &__avatar{
            max-width: 32px;
            border-radius: 50%;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
        }
    }
   
}
 
  
