@import '../global';
.btn-goBack{
   
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
   
    svg{
        width: 25px;
        height: 15px;
        fill:$color-gray;
        margin-right: 8px;
        transition: 0.3s;

      
    }
    span{
        @include font(14px);
        color: $color-gray;
       
    }
    &:hover{
        svg{
        fill:$color-black;
        }
        span{
        color:$color-black;
        }
    }
}
.btn-new-product{
    padding: 10px 15px;
    border-radius: 4px;
    background-color: $color-green;
    color: $color-white;
    border: 2px solid transparent;
    outline: none;
    box-shadow: 0 1px 3px 0 rgba($color: $color-black, $alpha: .2);
    transition: 0.3s;
    &:hover{
        border:2px solid $color-green ;
        background-color: transparent;
        color: $color-green;
    }
}